<section id="main">
  <div>
    <h1>
      <span>Amigo Secreto</span>
      <img src="assets/img/logoadireto.png" alt="ADireto">
    </h1>
    <div>
      <!--[AQI VOCÊ FARÁ UM IF!!!!]-->
      <!-- Se tiver gente cadastrada-->
      <div *ngIf="!isLoading && friends?.length != 0" class="table">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Amigo</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let friend of friends; let i = index">
              <td>{{ friend?.name }}</td>
              <td class="text-center">{{ friend?.email }}</td>
              <td class="text-right">{{ friend?.friend ? friend?.friend : "Aguardando sorteio"  }}</td>
              <td>
                <a><i (click)="loadDatatoEdit(friend, template, i); isEditing=true" class="fas fa-edit"></i></a>
                <a><i (click)="deleteFriend(friend, i)" class="fas fa-trash-alt"></i></a></td>
            </tr>
          </tbody>
        </table>
        <div class="butons">
          <a (click)="openModal(template)"><i class="fas fa-star"></i> Adicionar</a>
          <a (click)="drawFriends()"><i class="fas fa-random"></i> Sortear</a>
        </div>
      </div>


      <!-- Se não tiver gente cadastrada-->
      <p *ngIf="friends?.length == 0"> Adicionar os Participantes para Começar</p>
      <div *ngIf="friends?.length == 0" class="butons">
        <div class="butons">
          <a (click)="openModal(template)"><i class="fas fa-star"></i> Adicionar</a>
        </div>
        <img src="assets/img/imgnomuser.png" alt="+" />
      </div>


      <!-- Se Ação for concluida-->
      <p *ngIf="emailSent==true">Prontinho, os e-mail já foram enviados!</p>
      <div *ngIf="emailSent==true" class="butons">
        <img src="assets/img/imgenviad.png" alt="+" />
        <div class="butons">
          <a (click)="emailSent=false" class="btn-ok"><i class="fas fa-check-circle"></i> OK</a>
        </div>
      </div>


    </div>
  </div>

  <!-- Novo amigo -->
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Cadastrar participante</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="friendForm">
        <div class="form-row">

          <div class="col">
            <input type="text" formControlName="name" class="form-control" placeholder="Nome do participante">
          </div>

          <div class="col">
            <input type="email" formControlName="email" class="form-control" placeholder="E-mail">
          </div>

        </div>
        <button type="button" class="btn btn-form btn-danger mr-2 mt-4" (click)="closeModal()">Cancelar</button>
        <button *ngIf="!isEditing" type="button" class="btn btn-form btn-primary mt-4" [disabled]="!friendForm?.valid"
          (click)="createFriend()">Salvar</button>

        <button *ngIf="isEditing" type="button" class="btn btn-form btn-primary mt-4" [disabled]="!friendForm?.valid"
          (click)="editFriend()">Editar</button>
      </form>
    </div>
  </ng-template>
  <!-- -------------------------- -->

</section>
